/* Mobile First */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
}  

html {
    font-size: 15px;
} 

/* Hero Section */

header {
    background: url('./images/mobile/image-hero.jpg') no-repeat;
    background-size: cover;
    color: white; 
    display: grid; 
    font-family: 'Josefin Sans', sans-serif;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 2.5rem repeat(11, auto);
    height: 100vh;
    margin: 0 0 2em;
}

.btn-menu {
    background: transparent url('./images/icon-hamburger.svg')
                center right no-repeat;
    
    border: none;  
    z-index: 2;
}

.hero-text {
    align-self: center;
    border: 2px solid white;
    grid-column: 2;
    grid-row: 5 / span 2;
    font-size: 2.5rem; 
    padding: 5vw 5vw 3vw;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
}

.logo {
    z-index: 2;
    height: 1.7rem;
}

.menu {
    display: none;
}

.menu-open {
    display: grid !important;
    grid-template-rows: repeat(12, auto);
    grid-template-columns: 1.5rem auto 1.5rem;
    background: black;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: grow 0.1s linear; 
} 

.menu-open ul {
    align-items: center;
    display: grid;
    grid-row: 6;
    grid-column: 2;
    grid-template-rows: repeat(5, 3.5rem);
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.navbar { 
    align-content: start;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 2;
    grid-row: 2; 
}



/* Main Section */

main { 
    display: grid;
    grid-template-columns: 1.5rem auto 1.5rem;
    row-gap: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

main h1 { 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.1;
    margin: 3rem 0 1rem;
    
}

.about {
    padding-top: 3rem;
    grid-column: 2; 
}

.about img {
    max-width: 100%;
    height: auto;
}

.about p {
    color: hsl(0, 0%, 55%);
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    padding: 0 1.1rem;
    text-transform: none;
}

.works {
    display: grid;
    grid-column: 2; 
    row-gap: 2rem;
    margin: 0 0 5rem;
    justify-content: center;
}

.works-list {
    display: grid;
    row-gap: 1.5rem;
}

.list-item {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(6, auto);
    text-align: left;
    align-items: center;
}

.list-item h2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    grid-column: 1 / span 3;
    grid-row: span 2 / 6; 
    padding: 0 1rem;
    text-shadow: 1px 1px black;
}

.img-mobile {
    grid-column: 1 / span 12;
    grid-row: 1 / span 6;
    max-width: 100%; 
}

.img-desktop {
    display: none;
}

.gradient {
    width: 100%;
    height: 100%;
    grid-column: 1/ span 12;
    grid-row: 1/ span 6;
    background: linear-gradient(90deg, #0007 10%, transparent 100%);
}

.btn-all {
    justify-self: center;
    border: 2px solid black;
    background: none;
    font-family: 'Alata';
    padding: .5rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    width: fit-content;
}


/* Footer Section */

footer { 
    color: white;
    background: black;
    font-family: 'Alata';
    display: grid;
    grid-auto-flow: row;  
    padding: 3rem 0;
    text-align: center;
}

footer > img {
    width: 40vw;
    justify-self: center;
}

footer nav {
    display: grid;
    grid-auto-flow: row;
    row-gap: 3em;
    padding: 2em 0 1em;
}

footer li {
    list-style-type: none;
    padding: .7rem;
}

footer ul>img {
    padding: 0 .5em;
}

footer p {
    color: hsl(0, 0%, 41%);
}

.attribution {
    margin: 4em 0 0;
}

@media only screen and (min-width: 600px) {
    
    header { 
        grid-template-columns: 10vw auto 10vw;
        grid-template-rows: 10vh repeat(11, auto); 
    }

    .hero-text {
        font-size: 2.5em;
    }

    .logo {
        height: 100%;
    }

    .btn-menu {
        background-size: contain;
    }

    .menu-open { 
        grid-template-columns: 5em auto 5em; 
        width: 50%; 
        animation-name: half;
    } 

    .menu-open ul {
        font-size: 2rem;
    } 

    .about {
        padding-top: 7rem;
    }
}

/* End of Mobile Styles */


@media only screen and (min-width: 1200px) and (orientation: landscape) {
    
    header { 
        background: url('./images/desktop/image-hero.jpg') no-repeat;
        background-size: contain; 
        grid-template-columns: 10vw 1fr 1fr 10vw; 
        grid-auto-flow: row;
        margin: 0;
    }

    .navbar {
        grid-template-columns: 1fr 1fr;
        grid-column: 2 / span 2;
        align-items: center;
    }

    .menu {
        display: grid;
    }

    .menu ul { 
        display: grid;
        grid-auto-flow: column; 
        font-family: 'Alata';
        font-size: 1.3rem;
        list-style: none; 
        justify-content: end;
    }

    .menu li {
        display: inline; 
        margin-left: 2vw;
    }

    .btn-menu {
        display: none;
    }

    .hero-text {
        display: inline;
        font-size: 4em;
        grid-column: 2;
        padding: .5em; 
    }

    .logo {
        height: 150%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr; 
        grid-auto-flow: row;
        padding: 0 0 5rem;
    } 

    .about {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column: 2;
        padding: 0;
    }

    .about-text { 
        display: grid; 
        padding: 5% 0 0 15%;
        background: white;
        grid-column: 4 / span 3;
        grid-row: 2 / span 2;
        text-align: left;
    }

    .about-text h1 {
        font-size: 3em;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        align-items: flex-end;
    }
    
    .about-text p {
        font-size: 1em;
        grid-column: 2;
        grid-row: 3;
        padding: 0;
        display: flex;
        align-items: flex-end;
        line-height: 1.8;
    }


    .about img { 
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
    }

    .works { 
        grid-column: 2; 
        row-gap: 5rem;
        grid-template-columns: 1fr 1fr; 
        padding-top: 10%;
    }

    .works h1 {
        grid-row: 1;
        justify-self: start;
        margin: 0;
        font-size: 3rem;
    }

    .btn-all {
        grid-row: 1;
        font-size: 1.2rem;
        justify-self: end;
        align-self: center;
    }

    .works-list {  
        grid-column: 1 / span 2;
        grid-template-columns: repeat(4, auto);
        grid-auto-flow: row;  
        justify-content: space-between;
    }

    .list-item {
        grid-auto-flow: column;  
        overflow: hidden; 
    }

    .list-item .gradient {
        grid-column: 1;
        grid-row: 1;
    }

    .list-item h2 {
        grid-column: 1; 
        grid-row: 1; 
        padding: 0;
    } 

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
        grid-column: 1; 
        grid-row: 1; 
        object-fit: cover;
    } 
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {

    .navbar {
        grid-template-columns: 3fr 2fr;
    }

    .hero-text {
        font-size: 7vh;
    }

    .about-text h1 { 
        font-size: 5em;
        grid-column: 2;
        grid-row: 2;
    }

    .btn-all { 
        font-size: 1.5rem; 
        padding: 0.6em 2em;
    }
    
    .about-text p {
        font-size: 1.5rem;
        grid-column: 2;
        grid-row: 3;
        padding: 0;
    } 

    .works-list {
        justify-content: stretch;
        gap: 40px;
    }

    .works h1 { 
        font-size: 5rem;
    }

    .img-desktop {
        width: 150%;
    }
}

@media screen and (min-height: 1080px) {
    .hero-text {
        font-size: 5rem;
    }
}




/* Animations */
@keyframes grow {
    0% {
        transform: translate(100%, -100%);
        width: 0%;
        height: 0%;  
    }

    100% {
        transform: translate(0%, 0%);
        height: 100%;
        width: 100%;
    }
}

@keyframes half {
    0% {
        transform: translate(100%, -100%);
        width: 0%;
        height: 0%;  
    }

    100% {
        transform: translate(0%, 0%);
        height: 100%;
        width: 50%;
    }
}